<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Virtual Bookshelf</title>
    <!-- Include Bootstrap CSS link here -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="/public/css/style.css" />
  </head>

  <body>
    <h1>My Bookshelf</h1>
    <div class="container mt-4">
      {{{body}}}
    </div>
    {{!-- {{> partials/header}} --}}
    {{!-- {{{body}}} --}}

    {{!-- {{> layouts/main}} --}}

    {{!-- {{#each books}}
      <div class="book">
        <h3>{{title}}</h3>
        <p>Author: {{author}}</p>
        <!-- Other book details... -->

        {{#if isBookmarked}}
          <button class="remove-from-bookmark" data-bookid="{{id}}">Remove from
            Bookmark</button>
        {{else}}
          <button class="add-to-bookmark" data-bookid="{{id}}">Add to Bookmark</button>
        {{/if}}
      </div>
    {{/each}} --}}
    {{#if logged_in}}
      <script src="./js/logout.js"></script>
      {{! <script src="./js/bookshelf.js"></script> }}
    {{/if}}
    <!-- Include Bootstrap JS scripts here -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"
    ></script>
  </body>

</html>