{{!-- <div class="bookshelf">
  {{#each books}}
    <div class="book-card">
      <div class="book-cover"><!-- Book cover content here --></div>
      <h5>{{title}}</h5>
      <p>{{author}}</p>
    </div>
  {{/each}}
</div> --}}
<div class="bookshelf">
  {{#each books}}
    <div class="book">
      <h3>{{title}}</h3>
      <h4 id="main-author">Author: {{author}}</h4>
      <!-- Other book details... -->

      {{#if isBookmarked}}
        <button class="remove-from-bookmark" data-bookid="{{id}}">Remove from
          Bookmark</button>
      {{else}}
        <button class="add-to-bookmark" data-bookid="{{id}}">Add to Bookmark</button>
      {{/if}}
    </div>
  {{/each}}
</div>