{{#if logged_in}}
{{> nav}}
<link rel="stylesheet"  href="/public/css/style.css">
<div>
  <h1>{{book.title}}</h1>
  <p>By {{book.author}}</p>
</div>

<section>
  <h2>Details</h2>
  <ul>
    <li><strong>Genre:</strong> {{book.genre}} </li>
    <li><strong>Published Year:</strong>{{book.publishedYear}}</li>
    <li><strong>ISBN:</strong> {{book.isbn}}</li>
  </ul>
</section>

<section>
  <h2>Description</h2>
  <p>{{book.description}}</p>
</section>

<script src="./js/logout.js"></script>
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}