{{#if logged_in}}
  <!-- Display book details if the user is logged in -->

  <!-- Book title and author information -->

  <div>
    <h1 class="bd-title">{{book.title}}</h1>
    <p class="bd-author">By {{book.author}}</p>
  </div>
  <!-- Book details section -->
  <section class="bd-container">
    <h2 class="bd-caption">Details</h2>
    <ul class="bd-details">
      <li><strong>Genre:</strong> {{book.genre}} </li>
      <li><strong>Published Year:</strong>{{book.publishedYear}}</li>
      <li><strong>ISBN:</strong> {{book.isbn}}</li>
    </ul>
  </section>
  <!-- Book description section -->
  <section class="description-container">
    <h2 class="bd-caption">Description</h2>
    <p class="bd-description">{{book.description}}</p>
  </section>

{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}