{{#if logged_in}}
{{> nav}}
<link rel="stylesheet" type="text/css" href="/public/css/style.css">
  <div class="bookshelf">
    {{#each books}}
      <div class="book">
        <h3><a href= "/book/{{id}}">{{title}}</a></h3>
        <p>Author: {{author}}</p>
        <!-- Other book details... -->
<button type="button" class="delete-btn" data-bookid="{{id}}">Delete Book</button>
        {{!-- {{#if isBookmarked}}
          <button class="remove-from-bookmark" data-bookid="{{id}}">Remove from
            Bookmark</button>
        {{else}}
          <button class="add-to-bookmark" data-bookid="{{id}}">Add to Bookmark</button>
        {{/if}} --}}
      </div>
    {{/each}}
  </div>
<script src="./js/book.js"></script> 
{{else}}
  <a href="/login">You must login first to view this page</a>
{{/if}}